* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main,
footer {
  text-align: center;
  margin: 10px;
  padding: 10px;
}


ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  gap: 16px;
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 16px;
  list-style: none;
  padding: 0;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-item img {
  max-width: 100%;
  height: auto;
}

.image-name {
  margin-top: 6px;
  font-size: 14px;
  text-transform: capitalize;
}

input{
  display: flex;
  padding: 8px;
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button{
  padding: 8px 16px;
  margin: 20px;
  border: none;
  background-color: #8db9dd;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;  
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}


.modal-image {
  max-width: 30%;
  max-height: auto;
  border-radius: 8px;
}